@import url("https://fonts.googleapis.com/css2?family=Inter:opsz,wght@14..32,400..600&family=Playfair+Display:wght@400..700&display=swap");

/* Reset básico */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Tipografía base del sitio */
body {
  font-family: "Inter", sans-serif;
  font-size: 18px;
  line-height: 1.6;
  color: #222;
  background-color: #fff;
}

/* Tipografía elegante solo para títulos */
h1,
h2,
h3 {
  font-family: "Playfair Display", serif;
  letter-spacing: 0.5px;
}

/* Enlaces */
a {
  text-decoration: none;
  color: inherit;
}
